<div class="card">
    <div class="card-body">
        <h1>"{{product.title}}" kitobi </h1>
        <div class="row">
            <div class="col-6">
                <div class="d-flex flex-wrap mb-3">
                    {{#each product.img}}
                        <img src="/{{@this}}" alt="" width="100">
                    {{/each}}
                </div>
                <div>
                    <h2>Kitob qisqa tasnifi</h2>
                    <div>{{{product.description}}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="table-responsive">
                <table class="table table-responsive-md">
                    <tbody>
                        <tr>
                            <td><b>Narhi</b></td>
                            <td>{{product.price}} so'm</td>
                        </tr>
                        <tr>
                            <td><b>Chegirma</b></td>
                            <td>{{product.sale}} %</td>
                        </tr>
                        <tr>
                            <td><b>Bo'lim</b></td>
                            <td>{{product.category.title}}</td>
                        </tr>
                        <tr>
                            <td><b>Muallif</b></td>
                            <td>{{product.author}}</td>
                        </tr>
                        <tr>
                            <td><b>Ishlab chiqarilgan yil</b></td>
                            <td>{{product.year}}</td>
                        </tr>
                        <tr>
                            <td><b>Hamyonbop</b></td>
                            <td><a href="/product/changenumber/{{product._id}}/cheap">{{{product.cheap}}}</a></td>
                        </tr>
                        <tr>
                            <td><b>Taklif etamiz</b></td>
                            <td><a href="/product/changenumber/{{product._id}}/recom">{{{product.recom}}}</a></td>
                        </tr>
                        <tr>
                            <td><b>Tez orada</b></td>
                            <td><a href="/product/changenumber/{{product._id}}/soon">{{{product.soon}}}</a></td>
                        </tr>
                        <tr>
                            <td><b>Yaratilgan vaqt</b></td>
                            <td>{{product.createdAt}}</td>
                        </tr>
                        <tr>
                            <td><b>Yetkazib berish</b></td>
                            <td>{{product.delivery}}</td>
                        </tr>
                        <tr>
                            <td><b>Holati</b></td>
                            <td>
                                <a href="/product/changenumber/{{product._id}}/status">
                                    {{{product.status}}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <div class="text mt-3">
                <h2>Kitob tasnifi</h2>
                {{{product.text}}}
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h1>Kitobga berilgan izohlar ro'yhati</h1>
        <div class="table-responsive">
            <table class="table table-responsive-md">
                <thead>
                    <tr>
                        <th class="width80">#</th>
                        <th>Ismi</th>
                        <th>Rasmi</th>
                        <th>Bahosi</th>
                        <th>Matni</th>
                        <th>Vaqti</th>
                        <th>Holati</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each product.reviews}}
                    <tr>
                        <td><strong>{{index}}</strong></td>
                        <td>
                            {{name}}
                        </td>
                        <td><img src="/{{avatar}}" width="50" alt=""></td>
                        <td>{{mark}}</td>
                        <td>{{text}}</td>
                        <td>{{createdAt}}</td>
                        <td>
                            <a href="/product/review/changestatus/{{@root.product._id}}/{{@index}}">{{{status}}}</a>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-success light sharp" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                            <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                            <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                        </g>
                                    </svg>
                                </button>
                                <div class="dropdown-menu" x-placement="top-start"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 0px, 0px);">
                                    <a class="dropdown-item" href="/review/delete/{{_id}}" onclick="return confirm('Qaroringiz qat`iymi?')">O'chirish</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>